* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f5f5 !important;
}

/* nav start */
#nav {
  background-color: #fff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 0px;
  margin-bottom: 15px;
}

#nav .logo {
  width: 100px;
  height: auto;
}

#nav ul li {
  list-style: none;
  float: left;
  padding: 0px 14px 0px 0px;
}

#nav a {
  text-decoration: none;
  color: black;
}

#nav a:hover {
  color: #f88800;
}

#nav img {
  width: 20px;
  height: auto;
}

#nav ul {
  float: right;
}
.clr {
  clear: both;
}
/* nav end */

/* img-box start */
#img-box {
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

#img-box .hotel-img {
  max-width: 100%;
  /* padding: 10px; */
  border-radius: 10px;
}

#img-box .swimming-img {
  max-width: 100%;
  /* padding: 10px; */
  border-radius: 10px;
}
/* img-box end */

/* service  start*/
#service .sRight {
  float: left;
  width: 75%;
}

#service .sLeft {
  float: right;
  width: 25%;
}

#service .bi {
  width: 20px;
  height: auto;
  color: #f88800 !important;
}

#service a {
  text-decoration: none;
  color: black;
}

#service a:hover {
  color: #f88800;
}

#service .cat-img {
  width: 25px;
  height: auto;
}

#service .map {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* service end */

/* room start */
#room {
  float: left;
  width: 60%;
}

#room .room-img {
  max-width: 100%;
  height: 300px;
  border-radius: 15px !important;
}

#room .bed-img {
  width: 20px;
  height: auto;
}

#room h4 {
  color: #f88800;
}

#room input[type="checkbox"] {
  accent-color: #f88800;
  mix-blend-mode: multiply;
}

#room a {
  color: #c6c6c6;
}

#room a:hover {
  color: #f88800;
}

.mm {
  font-weight: 800;
}

#room .spam {
  display: inline;
}

button {
  background-color: #f88800;
  border: none;
  width: 30px;
  padding: 5px;
}

.btn-1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-3 {
  border-radius: 5px;
  width: auto;
  padding: 5px 10px 10px 10px;
}

#room .rType {
  background-color: #ffffff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}
/* #room end */

/* checkout start */
#checkout {
  float: right;
  width: 38%;
  background-color: #ffffff !important;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#checkout .checkout-img {
  border-radius: 15px;
}

#checkout .del {
  width: fit-content;
  font-size: 10px;
  display: inline;
  border-radius: 5px;
  background-color: #f85b5a;
  color: #fdc7c7;
}

#checkout .line1 {
  max-width: 470px;
  border-top: 2px solid #d3d3d3;
}

#checkout .line2 {
  max-width: 470px;
  border-top: 2px dashed #d3d3d3;
}

#checkout .price {
  color: #f88800 !important;
}

#checkout .confirm {
  border-radius: 5px;
}
/* checkout end  */

.confirm:hover {
  background-color: #f8ab4e;
}
.btn-1:hover {
  background-color: #f8ab4e;
}
.btn-2:hover {
  background-color: #f8ab4e;
}
.btn-3:hover {
  background-color: #f8ab4e;
}